/* Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* Configure these colors in src/lib/configs/theme.ts -> colors.body */
  background: var(--chakra-colors-body-bg);
  color: var(--chakra-colors-body-color);
  min-height: 100vh;
}
